$yellow: #fffa19;

@mixin margenes ($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron{
    background-color: $yellow;
    color: black;
    @include margenes(50px, 0px);
}
.footer{
    @include margenes(10px, 0px);
}
.card-hotel{
    flex: 1 350px;
    @include margenes(10px, 0px);
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
.footer-address-icon{
    padding-right: 10px;
}
.tabs-pane-icon{
    padding-right: 10px;
}
.tab-content{
    padding-top: 10px;
}
